/* .light-grid-container {
  border: 8px solid yellow;
}

.light-container {
  margin: 10px;
  width: 60px;
  height: 60px;
}

.light-grid {
  display: grid;
  height: 205px;
  grid-template-columns: repeat(3, 100px);
  gap: 80px;
}

.light-grid-shifted {
  margin-left: 90px;
  margin-top: -50px;
} */

/* right now this is only being used for the hexagon svg, so maybe make
 * it specific to that one component */
/* .svg-light-body {
/* Slower fade-out effect 
  transition: fill 0.5s ease-out; 
}

.svg-light-body:hover {
  /* Faster fade-in effect
  transition: fill 0.25s ease-in; 
} */

/* TODO: set dynamic colors and give colors pretty effects: fade, blink etc */
/* q: does hover work on mobile? */
