.light-grid-container {
  border: 8px solid yellow;
}

.light-container {
  margin: 10px;
  width: 60px;
  height: 60px;
}

.light-grid {
  /* padding: 20px; */

  display: grid;
  height: 205px;
  grid-template-columns: repeat(3, 100px);
  /* grid-template-rows: repeat(2, 125px); */
  gap: 80px;
}

.light-grid-shifted {
  margin-left: 90px;
  margin-top: -50px;
}

.light-body {
  width: 60px;
  height: 60px;
  position: relative;
  border: 1px solid white;
  border-radius: 4px;
  transition: background-color 1.5s ease-out; /* Slower fade-out effect */
}

.light-body:hover {
  transition: background-color 0.2s ease-in; /* Faster fade-in effect */
}

/* TODO: set dynamic colors and give colors pretty effects: fade, blink etc */
/* q: does hover work on mobile? */
