.light-container {
  margin: 10px;
  width: 60px;
  height: 60px;
}

.light-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.light-body {
  width: 60px;
  height: 60px;
  position: relative;
  border: 1px solid white;
  border-radius: 4px;
  transition: background-color 1.5s ease-out; /* Slower fade-out effect */
}

.light-body:hover {
   transition: background-color 0.2s ease-in; /* Faster fade-in effect */
}

/* .green.light-body:hover {
  background-color: rgba(0, 255, 205, 1);
  animation: fadeIn 0.1s ease-in; /* Faster fade-in effect */
}

/*@keyframes fadeIn {
  from {
    background-color: rgba(0, 255, 205, 0);
  }
  to {
    background-color: rgba(0, 255, 205, 1);
  }
} */

/* TODO: set dynamic colors and give colors pretty effects: fade, blink etc */
/* q: does hover work on mobile? */


