.layout {
  border: 1px solid yellow;
}

.header {
  border: 1px solid pink;
}

.main {
  display: grid;
  grid-template-columns: 25% 75%;
  border: 1px solid green;
}

.sidebar {
  border: 1px solid blue;
}
